<section
    id="about"
    class="bg-[#F8F8F8] text-[#000000] py-8 min-h-screen flex items-center px-4 sm:px-6 lg:px-16"
>
    <div
        class="container mx-auto flex flex-col md:flex-row items-center justify-between space-y-8 md:space-y-0"
    >
        <div class="md:w-2/3">
            <h2 class="text-[#FF4B00] text-lg font-bold uppercase mb-2">
                Tentang Saya
            </h2>
            <h3 class="text-3xl md:text-4xl font-bold leading-tight mb-4">
                Perkenalkan, nama saya Muhammad Awan Ardy Firmansyah
            </h3>
            <p
                class="text-[#3d3f3e] text-justify text-lg font-semibold loading-relaxed"
            >
                Seorang junior backend developer yang suka utak-atik API dan
                ngulik query SQL. Fokus saya saat ini adalah membangun backend
                yang rapi dan efisien.
            </p>
        </div>
    </div>
</section>
